<div class="main" #main>
  <div class="header">
    <div class="logo" #logo>
      <h2>Shifo</h2>
    </div>
    <ul class="menu" #menu>
      <li class="men__item"> <a class="menu__link active"> Menu 1 </a> </li>
      <li class="men__item"> <a class="menu__link"> Menu 2 </a> </li>
      <li class="men__item"> <a class="menu__link"> Menu 3 </a> </li>
      <li class="men__item"> <a class="menu__link"> Menu 4 </a> </li>
      <li class="men__item"> <a class="menu__link"> Menu 5 </a> </li>
    </ul>
    <div class="search" #search>
      <button class="search-icon">
        <svg class="icon icon-search">
          <use href="../assets/icons.svg#icon-magnifying-glass"></use>
        </svg>
      </button>
      <button class="call">Get In Touch</button>
    </div>
  </div>
  <div class="questionnaire">
    <div class="question" #questionContainer>
      <div class="question__heading">Question {{ currentQuestionIndex + 1 }}</div>
      <div class="question__q">{{ question.questionText }}</div>
      <div class="question__answers" #answer>
        <div
          class="answer"
          *ngFor="let answer of question.options; let i = index"
          (click)="onSelect(i)"
          #elementToAnswer
        >
          <p>{{ answer.text }}</p>
        </div>
      </div>
    </div>
    <div class="actions" #actions>
      <button class="previous" (click)="prev()" [disabled]="currentQuestionIndex === 0" type="button">
        <svg class="icon icon-back">
          <use href="../assets/icons.svg#icon-chevron-left"></use>
        </svg>
      </button>
      <button class="next" (click)="goToNextQuestion()" [disabled]="!isAnswerSelected()" type="button">Next</button>
    </div>
    <div class="progress__bar">
      <div class="progress__bar--slider" #slider></div>
    </div>
    <div class="progress__actions" #progress>
      <div class="p-actions-left">
        <span>Step {{ currentQuestionIndex + 1 }}</span>
        <span>Out Of</span>
        <span> {{ questions.length }} </span>
      </div>
      <div class="p-actions-right">
        <span>{{ progressValue }}%</span>
      </div>
    </div>
  </div>
</div>
